---
---

<style>
    body {
        font-family: "Open Sans", sans-serif;
        font-size: 1.5em;
        padding-left: 0.5em;
    }
</style>

<script is:inline src="/public.js"></script>

<h1>External script from src bundled</h1>
